[Desktop Entry]
Version=1.0
Name=Robot
Name[de]=Robot
Comment=Icon fuer MyProg
Comment[de]=Icon fuer MyProg
GenericName=Application
GenericName[de]=Anwendung
Exec=/home/user/ptp_ws/src/ros2_aruco/launch_script/pkg_launch.sh
Terminal=false
Type=Application
Icon=/home/user/ptp_ws/src/ros2_aruco/launch_script/robot.png
Categories=Graphics;Science;Engineering
StartupNotify=true 
GenericName[de_DE]=Feature-basierter parametrischer Modellierer
Comment[de_DE]=Feature-basierter parametrischer Modellierer
MimeType=application/x-extension-fcstd
